body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}
#green {
height: 235px;
width: 750px;
background-color: rgba(45, 112, 83, 1);
display: flex;    
text-align:center;       
}

.header{            
    width: 250px;     
    height: 235px;
}

#circle{
    position: absolute;
    left: 38px;
    top: 47px;
    width: 141px; /* задаете свои размеры */
    height: 141px;
    border-radius: 50%;
    background-color: aliceblue;   
}

#text{
   position: absolute;
    left: 237px;
    top: 52px;  
    width: 134px;
    height: 131px;      
  color: aliceblue;
  font-size: 25px;
  text-align:left;   
}
#menu{
   position: absolute;
    left: 622px;
    top: 84px;     
}
.menu{     
    width: 84px; /* задаете свои размеры */
    height: 12px;
    border-radius: 6px;
    background-color: aliceblue;
    margin-bottom: 16px; 
	}

#img{
   height: 467px;
width: 750px; 
background-image: url(https://terrahouse.kiev.ua/wp-content/uploads/2018/08/750m2-Zoloche-1.1mln-141-835x467.jpg);
}

.button{
     width: 341px; /* задаете свои размеры */
    height: 74px;   
    background-color: rgba(203, 146, 35, 1);
    position: absolute;
    left: 205px;
     color: #FFFFFF;
   font-size: 24px; 
 text-align: justify;
 padding: 20px 45px; 
 box-sizing: border-box;
}
#button1{     
     position: absolute;   
    top: 580px;  
}
#button2{     
     position: absolute;   
    top: 1602px;  
}
#middle{
    height: 1040px;
width: 750px; 
 background-color: rgb(222, 232, 238);
}
#circle-img{
    position: absolute;
    left: 44px;
    top: 774px;
    width: 247px; 
    height: 247px;
    border-radius: 50%;
    background-image: url(./women.png);
} 
#fio{
     position: absolute;
    left: 366px;
    top: 835px;
    width: 280px; 
    height: 27px;
    font-size: 36px;
}
#psyho{
    position: absolute;
    left: 366px;
    top: 891px;
    width: 245px; 
    height: 50px;
    font-size: 20px;
}
#work{
   position: absolute;
    left: 44px;
    top: 1081px;
    width: 590px; 
    height: 166px;
    font-size: 20px; 
}
#reason{
     position: absolute;
    left: 44px;
    top: 1293px;
    width: 545px; 
    height: 32px;
    font-size: 36px; 
}
#list{
     position: absolute;
    left: 44px;
    top: 1368px;
    width: 256px; 
    height: 190px;
    font-size: 20px;
    list-style-type: none;
}
#footer{
     width: 750px;     
    height: 153px;
    background-color: rgba(136, 136, 136, 1);
    display: flex;    
text-align:center;
}
#circle-footer{
    position: absolute;
    left: 45px;
    top: 1779px;
    width: 96px; /* задаете свои размеры */
    height: 96px;
    border-radius: 50%;
    background-color: aliceblue; 
}
#text-footer{
    position: absolute;
    left: 325px;
    top: 1852px;
    width: 199px; 
    height: 17px;
    font-size: 18px; 
    color: aliceblue;
}
#phone{
    position: absolute;
    left: 570px;
    top: 1806px;
    width: 150px; 
    height: 15px;
    font-size: 18px; 
    color: aliceblue;
}
#email{
position: absolute;
    left: 570px;
    top: 1848px;
    width: 150px; 
    height: 17px;
    font-size: 18px; 
    color: aliceblue;
}
a{
    color: aliceblue;
    text-decoration: none;
}